.section {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.main-menu-header-container {
  background: #f2f2f2;
}

.header-menu-item {
  margin: 5px;
}

.header-menu-item a {
  font-size: 11pt;
  margin: 0px 5px 0px 5px;
  color: #7f828b;
}

.header-menu-item a:hover {
  color: #3b8070;
}
